.App{ 
  height: 200vh;  
}
.column {
  float: left;
  
  height: 300px; 
}
.left {
  width: 75%;
}
.right {
  width: 25%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row{
  margin: 15px;
}