.crle-2 .Target-root.css-4dretl {
    height: 275px !important;
}
.crle-2 .MuiPaper-root-10.MuiPaper-elevation2-14.MuiPaper-rounded-11 {
    background: #383434;
    box-shadow: unset;
    padding: 0;
    /* margin: 0 9px; */
    border-radius: 0px;
}
.crle-2 {
    width: 100%;
    /* margin-left: 14px; */
}

.crle-2 h3{
    color: #fff;
}

.dg{
    border-radius: 0px !important;
}